
/* ...............card design................. */
.showAll{
    color: #007882;
}

#cardsId::-webkit-scrollbar{
    background-color: #CDD1D5;
    height: 4px;
}
#cardsId::-webkit-scrollbar-thumb{
    background-color: #007882;
    width: 100px;
}
.cards {
     padding-bottom: 33px;
    /*margin: 0 auto;*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 1rem;
    justify-content: flex-start;
    justify-items: center;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    
}
.card {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
border-radius: 5px;
width: 320px;
height:422px ;
}

.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* ............card image design ................*/

img {
border-radius: 5px 5px 0 0;
}

/* carousal control */
.carousel-control-next-icon{
    display: none;
}
.carousel-control-prev-icon{
    display: none;
}
.carousel-indicators [data-bs-target]{
border-radius: 50%;
height: 8px;
width: 8px;
}
.carousel-indicators button{
border-radius: 50%;
height: 30px;
width: 30px;
}

/*...............................card body.....................*/
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.button-buy{
    color: #007882;
    border: 2px solid #007882;
    padding: 5px 10px;
    border-radius: 8px;
    margin-right: 20px;
    font-size: 14px;  
}
.info-middle{
color: #007882;
font-weight: 500;
}
.info{
    color:#666666;
    font-size: 14px;
    font-weight: 400;

}

/*...........floating heart icon design ........................*/
.floating-icon{
         height: 32px;
         width: 32px;
        float: right;
        position: absolute;
        right: 12px;
        top: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background-color: rgba(0,0,0,0.3);
}
.floating-icon i{
    height: 14.5px;
    width:17.5px;
    color: white;
}


/*....................................................media quaries..............................*/

 
/* screen devices (600px and above) */


@media only screen and (min-width: 600px){
    .card{
        width:280px ;
        height: 360px;
    }
    .cards { grid-template-columns: repeat(8, 1fr); }
    .all-container{
        margin: 0px 48px !important;

    }
}


  